<div class="page-header" style="background:transparent; color:#ffffff ;border:none ;text-align:center" >
  <h1>Sign Up</h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal form-user"}) do |f| %>
<div class = "error" style="background-color:rgba(119,119,119,0.5) ; color:rgb(255,255,255); padding-left:35% ; font-weight:bold">
  <%= devise_error_messages! %>
</div>

 <div class="form-group" style="color:#ffffff">
    <%= f.label :first_name, class: "control-label col-md-4" %>
    <div class="col-md-4">
      <%= f.text_field :first_name, class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  </div>

  <div class="form-group" style="color:#ffffff">
    <%= f.label :last_name, class: "control-label col-md-4" %>
    <div class="col-md-4">
      <%= f.text_field :last_name, class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  </div>
  

  <div class="form-group" style="color:#ffffff">
    <%= f.label :email, class: "control-label col-md-4" %>
    <div class="col-md-4">
      <%= f.email_field :email, class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  </div>
    
  <div class="form-group" style="color:#ffffff">
    <%= f.label :password, class: "control-label col-md-4" %>
    <div class="col-md-4">
      <%= f.password_field :password, class: "text-field form-control", html: {autocomplete: "off"} %>
    </div>
  </div>
     
  <div class="form-group" style="color:#ffffff">
    <%= f.label :password_confirmation, "Password Confirmation", class: "control-label col-md-4" %>
    <div class="col-md-4">
      <%= f.password_field :password_confirmation, class: "text-field form-control", html: {autocomplete: "off"} %>
    </div>
  </div>
     
  <div class="form-group" style="color:#ffffff">
    <div class="col-md-offset-4 col-md-4">
      <%= f.submit "Sign Up", class: "btn btn-primary" , style:"float:left ; margin-right:20px"%>
       <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to  fa_icon("facebook", text: "Facebook")  , omniauth_authorize_path(resource_name, provider) , :class => "btn btn-facebook btn-block" , :style => "width:100px; float:left"  %><br />
          <% end -%>
        <% end -%>    
    </div>
  </div>

  <div class="form-group" style="color:#ffffff">
    <div class="col-md-offset-4 col-md-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>



<script>
 $(function() {

    $.validator.addMethod("naming_regex", function(value, element) {
        return this.optional(element) || /^[a-z]+$/i.test(value);
    }, "Name must contain only letters");  


    // Setup form validation on the #register-form element
    $("#new_user").validate({
    
        // Specify the validation rules
        rules: {
            'user[first_name]': {
              required: true , 
              naming_regex: true
            },
            'user[last_name]': {
              required: true , 
              naming_regex: true
            },
            'email': {
                required: true,
                email: true
            },
            'user[password]': {
                required: true,
                minlength: 8
            },
            'user[password_confirmation]' : {
                    minlength : 8,
                    equalTo : "#user_password"
            }

        },
        
        // Specify the validation error messages
        messages: {
            'user[first_name]': {
               required: "Please enter your first name" , 
               naming_regex: "Name should only contain alphabets"
            },
            'user[last_name]':{
               required: "Please enter your first name" , 
               naming_regex: "Name should only contain alphabets"
            },
            'user[password]': {
                required: "Please provide a password",
                minlength: "Your password must be at least 8 characters long"
            },
            'user[password_confirmation]': "password and confirmation must match",
            'email': "Please enter a valid email address"
        },
        
        submitHandler: function(form) {
            form.submit();
        }
    });

  });  
</script>