<%= render(:partial => 'shared/folder_navbar' , :locals => {:folder => @folder }) %> 

<%= simple_form_for @folder , :url => update_folder_details_path(@folder.id)   , :input_html=> { :class => "form-group has-feedback lg no-label " }  do |f| %>
  <%= f.input :id, :as => :hidden, :input_html => { :value => @folder.id } %>
<<<<<<< HEAD
  <%= f.input :name , :input_html => { :class => ""} %>
=======
  <%= f.input :name , :input_html => { :class => ""  , "data-bv-notempty" => "true"} %>
>>>>>>> tempclasscollab/master
  <div class="text-center">
	 <%= f.button :submit %>
  </div>
<% end %>