<div class="col-sm-6">
<div class="the-box no-border property-list">
    <div class="media">
        <a class="pull-left" href="<%=profile_main_path(:user_id => bucket.uploader.id)%>"> 
          <%= image_tag avatar_url(bucket.uploader) , :class => "media-object img-circle" , :title => bucket.uploader.full_name%>
        </a>
        <% category = bucket.category.category %>

              <!--added start-->
             <div class="pull-right" style="width:80px">
                <small class="pull-right" style="margin-bottom:20px">
                    <span class="label label-warning span-sidebar">
                      <%= category %>
                    </span>
                    
                  <% if current_page?(uploads_path) %>
                    <br>
                    <br>
                    <span class="label label-success span-sidebar">
                      <%= ( (bucket.privately_shared) ? ("Private") : ("Public") ) %>
                    </span>
                  <%end%>
                </small>  

                <div class="vote circle">
                    <%if current_user.has_upvoted?(bucket)  %>                      
                              <%= link_to( "", like_bucket_path(bucket.id) ,:class=>"hasvoted up", :method => :post , :remote => true)%> 
                      <%else%>                      
                              <%= link_to( "" , like_bucket_path(bucket.id),:class=>"increment up" , :method => :post , :remote => true)%>                            
                              <% bucket.up_votes %>                      
                      <%end%>                      
                      <%if current_user.has_downvoted?(bucket)  %>                      
                              <%= link_to( "", dislike_bucket_path(bucket.id) ,:class=>"hasvoted down", :method => :post , :remote => true)%>                        
                              <% bucket.down_votes%>                      
                      <%else%>                      
                              <%= link_to( "" , dislike_bucket_path(bucket.id) ,:class=>"increment down", :method => :post , :remote => true)%>                           
                              <% bucket.down_votes %>                      
                      <%end%>
                      <div class="count"><%=bucket.up_votes - bucket.down_votes%></div>
                </div>
            </div> 

        <div class="clearfix visible-xs"></div>
        <div class="media-body" >
            <a href="#fakelink"></a>
            <h4 class="media-heading">
                <%= link_to( bucket.name , bucket_content_path(bucket.id)  ) %>
            </h4>


	         <p class="hidden-xs">
                <%= truncate(bucket.description , length: 40) %>
            </p>

            <span class="small text-muted">
                <% course = bucket.course %>
              <b>Course:  </b><%= link_to(  course.name , course_content_path(course.id)  ) %>
      			</span>
            <br>
            <%= link_to( fa_icon("cloud-download", text: "Download") , request_download_bucket_path(bucket.id) , :method => :post , :remote => true , :class => "")%> 
            <%if bucket.uploader == current_user %>
                    <a type="button" data-toggle="modal" data-target="#modal_edit_bucket_<%=bucket.id%>" class="" style="margin-left:20px; cursor:pointer"  >
                         <i class="fa fa-edit">Edit</i>
                    </a>
                    <%= link_to( fa_icon("trash-o" , :text=>"Delete") , destroy_bucket_path(bucket.id) , :method => :delete , :remote => true ,:style=>"margin-left:20px" , :data => { :confirm => "Are you sure you want to delete?"  }  )%> 
            <%end%>
        </div>
	 </div>

</div>
</div>

<div class="modal fade" id="modal_edit_bucket_<%=bucket.id%>" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
     <div class="modal-dialog">
       <div class="modal-content modal-no-shadow">
         <div class="modal-header bg-dark no-border">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4 class="modal-title">Change Bucket Name : <%= bucket.name %> </h4>
         </div>
         <div class="modal-body">
                <%= simple_form_for bucket , :url => update_bucket_details_path( bucket.id ) , :method => :post , :remote => true , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>
                  <%= f.input :id, :as => :hidden, :input_html => { :value => bucket.id } %>
                  <%= f.input :name , :input_html => { :class => "chosen-input" , :required => true}  %>
                  <%= f.input :description, :hint => "Please describe in detail" , :input_html => { :class => "chosen-input" , :required => true }%>
                  <%= f.input :privately_shared , as: :radio_buttons %> 
                  <%= f.association :category, label_method: :category , :include_blank => false , :input_html => { :class => "chosen-input" , :required => true }%>
                    <div class="modal-footer">
                      <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <%= f.button :submit , "Edit", :class => "btn btn-warning btn-perspective" %>
                      </div>
                    </div>
                <% end %>
         </div>
       </div><!-- /.modal-content .modal-no-shadow -->
     </div><!-- /.modal-dialog -->
</div>




<script>

  $('#modal_edit_bucket_<%=bucket.id%>').on('shown.bs.modal', function() {
    $("#modal_edit_bucket_<%=bucket.id%> form").validate({
          rules: {
            'bucket[name]': "required",
            'bucket[description]': "required",
            'bucket[category]': "required"
          },
          messages: {
            'bucket[name]': "Please enter non-empty bucket name",
            'bucket[description]': "Please add some description...",
            'bucket[category]': "Please select a category, bucket would belong to."
          }
    });
  });

</script>