<!-- bucket -->
<div class="the-box">
<div class="media-body">
	  <p></p>
	  <h2 class="media-heading">
	  	<%= link_to( bucket.name , bucket_content_path(bucket.id)  ) %>
	  </h2>
<hr class="marginbot-10">
	  <p></p>

	  <% uploader = bucket.uploader %>	  
	  <b>Author:</b>
	  <span class="text-muted">
	  		bucket.uploader.name
	  </span>
	  	  <p></p>
	  
	  <b>Author Reputation:</b>
	  <span class="text-muted">
	  		<%= uploader.reputation%>
	  </span>
	  <p></p>
	  <p></p>
	  
	  <b>Full Description:</b>
	  <span class="text-muted">
	  		<%= bucket.description %>
	  </span>
	  
	  <p></p>
	  
	  <b>Total Downloads:</b>
	  <span class="text-muted">
	  		<%= bucket.downloads.size%>
	  </span>
	  <p></p>
	  
	  <b>Total Up-votes:</b>
	  <span class="text-muted">
	  		<%= bucket.up_votes %>
	  </span>
	  
	  <p></p>
	  
	  <b>Total Down-Votes:</b>
	  <span class="text-muted">
	  		<%= bucket.down_votes%>
	  </span>
	  <p></p>
	  <b>Bucket Size:</b>
	  <span class="text-muted">
	  		<%= bucket.size %>
	  </span>
	  	  <p></p>
	  
	  <b>Catagory:</b>
	  <span class="text-muted">
	  		<%= bucket.category %>
	  </span>
	  <p></p>
	  
	  <b>Course:</b>
	  <span class="text-muted">
	  		<%= bucket.course.name %>
	  </span>
	  
	  	  <p></p>
	  
	  <b>Accessibility:</b>
	  <span class="text-muted">
	  		<%= ( bucket.privately_shared == "true" ) ? ("private") : ("public") %>
	  </span>
	  <p></p>

	  <b>Uploaded:</b>
	  <span class="text-muted">
		  	<%= time_ago_in_words( bucket.created_at ) %> ago
	  </span>
	  <p><p>
	  <b>Last updated:</b> 
	  <span class="text-muted">
	  		<%= time_ago_in_words( bucket.updated_at ) %> ago
	  </span>
	  <p><p>


</div>
</div>
