
<%for bucket in buckets%>
    <div id="bucket_<%=bucket.id%>">
		<%= render(:partial => 'shared/bucket', :locals => {:bucket => bucket } )%>
	</div>
 <%end%>


<%= paginate buckets  , :remote => true %>


<% if( (buckets.map(&:course).uniq.size == 1) rescue false )%>

<button type="button" data-toggle="modal" data-target="#modal_add_bucket" class="btn btn-success btn-perspective">Add Bucket</button>
<div class="modal fade" id="modal_add_bucket" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
     <div class="modal-dialog">
       <div class="modal-content modal-no-shadow">
         <div class="modal-header bg-dark no-border">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4 class="modal-title">Add a Bucket</h4>
         </div>
         <div class="modal-body">

			<%= simple_form_for Bucket.new , :url => create_bucket_path(buckets.first.course.id) , :method => :post , :remote => true , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>

			<!-- Need to have condition here based on in which page is buckets being rendered -->
			<%= f.input :course_id, :as => :hidden, :input_html => { :value => buckets.first.course_id } %> 
			<!-- Need to have condition here based on in which page is buckets being rendered -->

			  <%= f.association :category, label_method: :category , :include_blank => false , :input_html => { :class => "chosen-input"}%>
			  <%= f.input :name , :input_html => { :class => ""} %>
			  <%= f.input :description , :input_html => { :class => ""} %>
			   <div class="text-center">
			  	<%= f.button :submit , "Create", :class => "btn btn-success"%>
			  </div>
			<% end %>
         </div>
       </div><!-- /.modal-content .modal-no-shadow -->
     </div><!-- /.modal-dialog -->
</div>

<%end%>