<div class="col-sm-6">
<div class="the-box no-border property-list">
    <div class="media">
        <a class="pull-left" href="#fakelink"> <!--if want to give user profile link-->
        
        <%= image_tag avatar_url(bucket.uploader) , :class => "media-object img-circle" , :title => bucket.uploader.full_name%>

        <div class="clearfix visible-xs"></div>
        <div class="media-body">
            <a href="#fakelink"></a>
            <h4 class="media-heading">
                <%= link_to( bucket.name , bucket_content_path(bucket.id)  ) %>
                <% category = bucket.category.category %>
                <small class="pull-right">
                	<b>Catagory: </b><span class="label label-warning span-sidebar">
                    <%= category %></span>
		        </small>                 
            </h4>

            <ul class = "list-inline">
                  <li>
                      <%= link_to( fa_icon("thumbs-o-up") , like_bucket_path(bucket.id) , :method => :put)%> 
                      </b> 
                      <%= bucket.up_votes %>
                  </li>  |  
                  <li>
                      <%= link_to( fa_icon("thumbs-o-down") , like_bucket_path(bucket.id) , :method => :put)%> 
                      </b> 
                      <%= bucket.down_votes %>
                  </li>
            </ul>
            <ul>
                <li>
                  <button class="btn btn-xs btn-warning btn-perspective">
                       <i class="fa fa-cloud-download"> Download <%= link_to("" , request_download_bucket_path(bucket.id) , :method => :post ) %></i>
                  </button>
                </li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#modal_edit_bucket_<%=bucket.id%>" class="btn btn-xs btn-warning btn-perspective">
                       <i class="fa fa-edit"> Edit </i>
                  </button>
                </li>
                <li>
                  <button class="btn btn-xs btn-warning btn-perspective">
                        <i class="fa fa-remove"> Delete <%= link_to("" , destroy_bucket_path(bucket.id) , :method => :delete ) %></i>
                  </button>                 
                </li>
            </ul>

	         <p class="hidden-xs"><!--ask-->
                <b>Description:</b><%= bucket.description %>
            </p>

            <span class="small text-muted">
                <% course = bucket.course %>
              <b>Course:  </b><%= link_to(  course.name , course_content_path(course.id)  ) %>
      			</span>

        </div>
	 </div>

</div>
</div>

<div class="modal fade" id="modal_edit_bucket_<%=bucket.id%>" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
     <div class="modal-dialog">
       <div class="modal-content modal-no-shadow">
         <div class="modal-header bg-dark no-border">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4 class="modal-title">Change Bucket Name : <%= bucket.name %> </h4>
         </div>
         <div class="modal-body">
                <%= simple_form_for bucket , :url => update_bucket_details_path( bucket.id ) , :method => :post , :remote => true , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>
                  <%= f.input :id, :as => :hidden, :input_html => { :value => bucket.id } %>
                  <%= f.input :name , :input_html => { :class => "chosen-input"}  %>
                  <%= f.input :description, :hint => "Please describe in detail" , :input_html => { :class => "chosen-input"}%>
                  <%= f.association :category, label_method: :category , :include_blank => false , :input_html => { :class => "chosen-input" }%>
                    <div class="modal-footer">
                      <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <%= f.button :submit , "Edit", :class => "btn btn-success" %>
                      </div>
                    </div>
                <% end %>
         </div>
       </div><!-- /.modal-content .modal-no-shadow -->
     </div><!-- /.modal-dialog -->
</div>

