<!-- bucket -->
<div class="media-body">
	  <p></p>
	  <h4 class="media-heading">
	  	<%= link_to( bucket.name , bucket_content_path(bucket.id)  ) %>
	  </h4>
	  <p></p>

	  <%= link_to("Download" , download_bucket_path(bucket.id) , :method => :post , :class => "label label-danger span-sidebar") %>

	  <b><%= link_to("UP" , like_bucket_path(bucket.id) , :method => :put)%> </b> <%= bucket.up_votes %>
	  <b><%= link_to("DOWN" , dislike_bucket_path(bucket.id) , :method => :put)%> </b> <%= bucket.down_votes %>
	  <p></p>

	  <% category = bucket.category.category %>
	  Category : 
	  <span class="label label-warning span-sidebar">
		  <%= category %>
	  </span>
	  <p><p>
	  <%if bucket.uploader == current_user%>
		  <%= link_to("Delete" , destroy_bucket_path(bucket.id) , :method => :delete , :class => "btn btn-danger") %>
	  <%end%>
	  <p><p>
	  <span class="text-muted">
	  		<%= bucket.description %>
	  </span>
	  <p><p>
	  Course : 
	  <% course = bucket.course %>
	  <span class="text-muted">
	  		<%= link_to( course.name , course_content_path(course.id)  ) %>
	  </span>
	  <p><p>


</div>

