<div class="panel with-nav-tabs panel-success panel-square panel-no-border">
<div class="panel-heading">     
		<div class="right-content">
			<div class="btn-group">
			</div>
		</div><!-- /.right-content -->
		<ul class="nav nav-tabs">

			<%if current_page?(college_content_path) %>
				<%= content_tag(:li , link_to(fa_icon("briefcase", text: "Buckets"), college_content_path(college.id) , :data => {:toggle=>""}), :class=>"active" )%>
			<%else%>
				<%= content_tag(:li , link_to(fa_icon("briefcase", text: "Buckets"), college_content_path(college.id) , :data => {:toggle=>""} ), :class=>"" )%>
			<%end%>


			<%if current_page?(college_users_path)%>
				<%= content_tag(:li , link_to(fa_icon("users", text: "Enrolled Students"), college_users_path(college.id) , :data => {:toggle=>""}), :class=>"active" )%>
			<%else%>
				<%= content_tag(:li , link_to(fa_icon("users", text: "Enrolled Students"), college_users_path(college.id) , :data => {:toggle=>""}), :class=>"" )%>
			<%end%>


			<%if current_page?(college_courses_path)%>
				<%= content_tag(:li , link_to(fa_icon("book", text: "Courses"), college_courses_path(college.id) , :data => {:toggle=>""}), :class=>"active" )%>
			<%else%>
				<%= content_tag(:li , link_to(fa_icon("book", text: "Courses"), college_courses_path(college.id) , :data => {:toggle=>""}), :class=>"" )%>
			<%end%>




			<li id="select_branch" style="margin-top:7px">
				<%= render(:partial => 'shared/select_branch' ,:locals => { :college => @college } ) %>
			</li>			 

			<div id="internal_search_bar">
				<%if current_page?(college_content_path) %>
					<%= render(:partial => 'shared/search_college_buckets' , :locals => {:college => college , :branch => branch} ) %> 
				<%elsif current_page?(college_courses_path)  %>
					<%= render(:partial => 'shared/search_college_courses' , :locals => {:college => college , :branch => branch} ) %> 
				<%elsif current_page?(college_users_path)  %>
					<%= render(:partial => 'shared/search_college_users' , :locals => {:college => college , :branch => branch} ) %> 				
				<%end%>
			</div>
		</ul>
</div>
</div>



