<div class="the-box no-border media-discuss">
	<%user = comment.user %>
	<%= link_to ( image_tag avatar_url( user ) , :class => "media-object img-circle") , "#" , :class => "pull-left" %>

	<div class="media-body">
		<h4 class="media-heading">
			<%= link_to( user.email , "#no_profile_yet"  ) %>
		</h4>
		<p class="date"><small> Created <%= time_ago_in_words(comment.created_at) %> ago </small></p>	  	
		<%= comment.message %>
		<br><br>
		<ul class="media-list">
			<%comment_responses = comment.comment_responses %>
			<div id="comment_responses_<%=comment.id%>">
				<%for comment_response in comment_responses%>
				    <div id="comment_response_<%=comment_response.id%>">
						<%= render(:partial => 'shared/comment_response', :locals => {:comment_response => comment_response } )%>		
					</div>
	 			<%end%>
 			</div>

			<%= render(:partial => 'shared/leave_comment_response', :locals => {:comment => comment } )%>		
		</ul>
	</div>

</div>
