  <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
  <ul class="dropdown-menu square margin-list-rounded with-triangle">
	<%if (user.college == course.college ) and (user.branch == course.branch) %>
		<%if user.enrolled_courses.include?(course)  %>
			<%= content_tag(:li , link_to(fa_icon("cloud-download", text: "UnEnroll"), unenroll_course_path(course.id) , :method => :post , :remote => true ), :class=>"" )%>
		<%else%>
			<%= content_tag(:li , link_to(fa_icon("cloud-download", text: "Enroll"), enroll_course_path(course.id) , :method => :post , :remote => true), :class=>"" )%>
		<%end%>
	<%end%>
	<%if user.favorite_courses.include?(course)  %>
			<%= content_tag(:li , link_to(fa_icon("cloud-download", text: "UnFavorite"), unfavorite_course_path(course.id) , :method => :post , :remote => true), :class=>"" )%>
	<%else%>
			<%= content_tag(:li , link_to(fa_icon("cloud-download", text: "Favorite"), favorite_course_path(course.id) , :method => :post , :remote => true ) , :class=>"" )%>
	<%end%>

    <%if current_user.enrolled_courses.include?(course) %>
        <li>
            <a data-toggle="modal" data-target="#modal_add_bucket_without_course" style="cursor:pointer">
               <i class="fa fa-cloud-upload">Add Bucket</i>
            </a>
        </li>
    <%end%>


	
  </ul>

   <div class="modal fade" id="modal_add_bucket_without_course" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
     <div class="modal-dialog">
       <div class="modal-content modal-no-shadow">
         <div class="modal-header bg-dark no-border">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4 class="modal-title">Add a Bucket</h4>
         </div>
         <div class="modal-body">
      <%= simple_form_for Bucket.new , :url => create_bucket_path, :method => :post , :remote => true , :input_html=> { :class => "form-group has-feedback lg no-label "} do |f| %>

        <%= f.input :course_id, :as => :hidden, :input_html => { :value => course.id } %> 
          <%= f.input :privately_shared , as: :radio_buttons %> 
        <%= f.association :category, label_method: :category , :include_blank => false , :input_html => { :class => "chosen-input"  ,  :required => true  }%>
          <%= f.input :main_upload, :as => :hidden, :input_html => { :value => false } %> 
          
          <%= f.input :name , :input_html => { :class => ""  ,  :required => true } %>
          <%= f.input :description , :input_html => { :class => ""   ,  :required => true } %>
          <div class="text-center">
            <%= f.button :submit , "Create", :class => "btn btn-warning btn-perspective"%>
          </div>
      <% end %>
         </div>
       </div><!-- /.modal-content .modal-no-shadow -->
     </div><!-- /.modal-dialog -->
</div>


<script>

  $('#modal_add_bucket_without_course').on('shown.bs.modal', function() {
    $("#modal_add_bucket_without_course form").validate({
          rules: {
            'bucket[name]': "required",
            'bucket[description]': "required",
            'bucket[category]': "required"
          },
          messages: {
            'bucket[name]': "Please enter non-empty bucket name",
            'bucket[description]': "Please add some description...",
            'bucket[category]': "Please select a category, bucket would belong to."
          }
    });
  });

</script>