<<<<<<< HEAD
<div class="row">
<%for course in courses%>
	<%= render(:partial => 'shared/course', :locals => {:course => course } )%>
<%end%>
</div>
<%= paginate courses  , :remote => true  %>
=======
<%if courses.size > 0%>
<div class="row">
<%for course in courses%>
	<div id="course_<%=course.id%>">
		<%= render(:partial => 'shared/course', :locals => {:course => course } )%>
	</div>
<%end%>
</div>
<div class = "stick-paginate">
<%= paginate courses  , :remote => true  %>
</div>
<%else%>
	<div class ="text-center media-heading">
		<h1  style="font-size:60px; margin:250px"><i class="fa fa-search"></i> Nothing Found! </h1>
	</div> 
<%end%>
>>>>>>> tempclasscollab/master
