<div class="col-sm-6">
<div class="the-box no-border">
	<div class="media user-card-sm">
	  <%uploader = document.bucket.uploader %>

	  <div class="pull-left" href="#fakelink">
	      <%= image_tag avatar_url(uploader) , :class => "media-object img-circle" , :title => uploader.full_name%>
	  </div>
	  <div class="media-body">
		<span class="document-heading">
			<%= link_to( document.name , document_details_path(document.id)  ) %>
		</span>
		<br>

			<%if document.bucket.uploader != current_user %>
	            <button type="button" data-toggle="modal" data-target="#modal_edit_document_<%=document.id%>" class="btn btn-success">
	                Change Name
	            </button>
	            <%= link_to("Remove" , destroy_document_path(document.id) , :method => :delete , :remote => true) %>
            <%end%>


		<br>
		<span class="user-mail">
			<%= uploader.email %>
		</span>
		<br>
		<span class="small-user text-muted">
			Created <%= time_ago_in_words(document.created_at) %> ago
		</span>
	  </div>
		<!-- <div class="right-button"> -->
			<%= link_to(  fa_icon("external-link-square", text: "View") , view_document_path(document.id) )%>
			<%if uploader == current_user%>
				<%= link_to(  fa_icon("remove", text: "Delete") , destroy_document_path(document.id) , :method => :delete , :remote => true ,:class => "btn btn-danger") %>
			<%end%>
		<!-- </div> -->
	</div>
</div>
</div>

<div class="modal fade" id="modal_edit_document_<%=document.id%>" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
     <div class="modal-dialog">
       <div class="modal-content modal-no-shadow">
         <div class="modal-header bg-dark no-border">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4 class="modal-title">Change Document Name : <%= document.name %> </h4>
         </div>
         <div class="modal-body">
                <%= simple_form_for document , :url => update_document_details_path(document.id ) , :method => :post , :remote => true , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>
                  <%= f.input :id, :as => :hidden, :input_html => { :value => document.id } %>
		          <%= f.input :name , :input_html => { :class => ""}  %>
                  <div class="modal-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%= f.button :submit , "Edit", :class => "btn btn-success" %>
                    </div>
                  </div>
                <% end %>
         </div>
       </div><!-- /.modal-content .modal-no-shadow -->
     </div><!-- /.modal-dialog -->
</div>
