<!-- bucket -->
<div class="the-box">
<div class="media-body">
	  <p></p>
	  <h2 class="media-heading">
	  	<%= link_to( folder.name , folder_content_path(folder.id)  ) %>
	  </h2>
<hr class="marginbot-10">
	  <p></p>
	  <% bucket = folder.bucket %>

	  <b>Owner:</b>
	  <span class="text-muted">
	  		<% uploader = bucket.uploader %>
	  		<%= link_to( uploader.full_name , profile_main_path( :user_id => uploader.id) )  %>
	  </span>
	  <p></p>
	  
	  <b>Size:</b>
	  <span class="text-muted">
	  		<%= folder.size %>
	  </span>
	  <p></p>
	  
	  <b>Catagory:</b>
	  <span class="text-muted">
	  		<%= bucket.category.category %>
	  </span>
	  	  <p></p>
	  
	  <b>Accessibility:</b>
	  <span class="text-muted">
	  		<%= ( (bucket.privately_shared) ? ("Private") : ("Public") ) %>
	  </span>	  
	  <p></p>

	  <b>Last Updated</b>
	  <span class="text-muted">
			<%= time_ago_in_words( folder.updated_at ) %>
	  </span>
	  <p><p>

</div>
</div>
