<div class="the-box no-border">
	<div class="media user-card-sm">	  
	  <%uploader = folder.bucket.uploader %>
	  <div class="pull-left" href="#fakelink">
	      <%= image_tag folder.image_url , :class => "media-object" %>

	  </div>
	  <div class="media-body">										  	
		<span class="user-heading">
			<%= link_to( folder.name , folder_content_path(folder.id)  ) %>
		</span>
		<br>


			<%if uploader == current_user %>
	            <button type="button" data-toggle="modal" data-target="#modal_edit_folder_<%=folder.id%>" class="btn btn-success">
	                Change Name
	            </button>
	            <%= link_to("Remove" , destroy_folder_path(folder.id) , :method => :delete , :remote => true) %>
            <%end%>


		<br>
		<span class="user-mail">
			<%= uploader.email %>
		</span>
		<br>
		<span class="small-user text-muted">
			Created <%= time_ago_in_words(folder.created_at) %> ago
		</span>
		<br>
		<!-- <div class="right-button"> -->
			<%= link_to(  fa_icon("external-link-square btn-xs btn-warning btn-perspective", text: "Visit") , folder_content_path( folder.id ) )%>
	    	<%if uploader == current_user %>
			  <%= link_to("Delete" , destroy_folder_path(folder.id) , :method => :delete , :remote => true, :class => "btn-xs btn-warning btn-perspective") %>
		    <%end%>
		<!-- </div> -->
	    </div>
	</div>
</div>

<div class="modal fade" id="modal_edit_folder_<%=folder.id%>" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
     <div class="modal-dialog">
       <div class="modal-content modal-no-shadow">
         <div class="modal-header bg-dark no-border">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4 class="modal-title">Change Folder Name : <%= folder.name %> </h4>
         </div>
         <div class="modal-body">
                <%= simple_form_for folder , :url => update_folder_details_path(folder.id ) , :method => :post , :remote => true , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>
                  <%= f.input :id, :as => :hidden, :input_html => { :value => folder.id } %>
                  <%= f.input :name , :input_html => { :class => "chosen-input" , "data-bv-notempty" => "true"} %>
                  <div class="modal-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%= f.button :submit , "Edit", :class => "btn btn-success" %>
                    </div>
                  </div>
                <% end %>
         </div>
       </div><!-- /.modal-content .modal-no-shadow -->
     </div><!-- /.modal-dialog -->
</div>
