		<div class="row" id="main-search-background">
			<div class="text-center">
				<%= form_tag(landing_path, method: "get", :class => "form-group has-feedback lg no-label") do %>
					<%= hidden_field_tag("college_autocomplete_id", "", :id => "college_autocomplete_id") %>
					<%= hidden_field_tag("branch_autocomplete_id" , "", :id => "branch_autocomplete_id") %>
					<%= hidden_field_tag("course_autocomplete_id" , "", :id => "course_autocomplete_id") %>
					<div class="col-sm-4">
						<%= text_field_tag :search , nil , :id => "main_search" , :class => "form-control" , :placeholder => "Search keyword"  %>
					</div>				
					<div class="col-sm-2">
						<%= text_field_tag :search_college , nil , :id => "college_autocomplete" , :class => "form-control" , :placeholder => "Search College"  %>
					</div>
					<div class="col-sm-2">
						<%= text_field_tag :search_branch  , nil , :id => "branch_autocomplete" , :class => "form-control"   , :placeholder => "Search Branch"  %>
					</div>
					<div class="col-sm-2">
						<%= text_field_tag :search_course  , nil , :id => "course_autocomplete" , :class => "form-control"   , :placeholder => "Search Course"%>
					</div>
					<div class="col-sm-2">
						<%= submit_tag "Find", :class => "btn btn-info btn-perspective form-control" %>
					</div>
				<%end%>
			</div>
		</div>
		<span style="float:right ; margin-right:20px ; color:#ffffff"><a style="color:#ffffff ;cursor:pointer" data-toggle="modal" data-target="#suggest">Not in the list?</a></span>


<div style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 200px; width:100%; z-index: -999998; position: absolute;" class="backstretch">
        
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
 
            <div class="item active">
            
                <div class="bannerImage">
                    <a href="#"><img src="/assets/bg8.jpg" style=" margin-top: -273px; padding: 0px; border: medium none; width: 100%; height: 698px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -500px;" alt=""></a>
                </div>
                            
                                                         
            </div><!-- /Slide1 --> 

            <div class="item">
            
                <div class="bannerImage">
                    <a href="#"><img src="/assets/bg7.jpg" style=" margin-top: -273px; padding: 0px; border: medium none; width: 100%; height: 698px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -500px;" alt=""></a>
                </div>
                          
                                                         
            </div><!-- /Slide2 -->             

            <div class="item">
            
                <div class="bannerImage">
                    <a href="#"><img src="/assets/Studying-book.jpg" style=" margin-top: -400px; padding: 0px; border: medium none; width: 100%; height: 698px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -500px;" alt=""></a>
                </div>
                            
                
            </div>
        </div>
                                                         
        </div><!-- /Slide2 -->                      
 
 </div>
