
<%= render(:partial => 'shared/document_navbar' , :locals => {:document => @document }) %> 


<%= simple_form_for @document , :url => update_document_details_path(@document.id)   , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>
  <%= f.input :id, :as => :hidden, :input_html => { :value => @document.id } %>
  <%= f.input :name , :input_html => { :class => ""} %>
  <div class="text-center">
	  <%= f.button :submit %>
  </div>
<% end %>