<%= render(:partial => 'shared/bucket_navbar' , :locals => {:bucket => @bucket }) %> 


<%= simple_form_for @bucket , :url => update_bucket_details_path(@bucket.id)  , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>
  <%= f.input :id, :as => :hidden, :input_html => { :value => @bucket.id } %>
<<<<<<< HEAD
  <%= f.input :name , :input_html => { :class => ""}  %>
  <%= f.input :description, :hint => "Please describe in detail" , :input_html => { :class => ""}%>
  <%= f.association :category, label_method: :category , :include_blank => false , :input_html => { :class => ""}%>
=======
  <%= f.input :name , :input_html => { :class => ""  , "data-bv-notempty" => "true" }  %>
  <%= f.input :description, :hint => "Please describe in detail" , :input_html => { :class => ""  , "data-bv-notempty" => "true"}%>
  <%= f.association :category, label_method: :category , :include_blank => false , :input_html => { :class => ""  , "data-bv-notempty" => "true" }%>
>>>>>>> tempclasscollab/master
  <div class="text-center">
  	<%= f.button :submit , "Edit", :class => "btn btn-danger"%>
  </div>
<% end %>