<<<<<<< HEAD
<% if not current_user.college_branch_enrolled? %>
<%= render(:partial => 'shared/select_branch' ,:locals => { :college => @college , :branches_name_id => @branches_name_id } ) %>
<% end %>
<%= render(:partial => 'shared/college_navbar' , :locals => {:college => @college , :branch => @branch }) %> 

=======

<%= render(:partial => 'shared/college_navbar' , :locals => {:college => @college , :branch => @branch }) %> 

<div class="breadcrumb default square rsaquo sm">
		<%= link_to( @college.name , college_content_path(@college) )%> 
		<%if @branch%>
			> 
			<%= link_to( @branch.name , college_content_path( :id => @college.id , :branch_id => @branch.id) ) %> 
		<%end%>
</div>


>>>>>>> tempclasscollab/master
<div id="buckets">
	<%= render(:partial => 'shared/buckets', :locals => {:buckets => @buckets } )%>
</div>