							<div class="the-box transparent full no-margin profile-heading">
								<div class="setting3">									
								</div>

								<div class="right-action">
								</div><!-- /.right-action -->

								<img src="<%=avatar_url(@user)%>" class="avatar" alt="Avatar" height="100" width="100">

								<div class="profile-info">
									<p class="user-name"><%= @user.full_name %></p>
									<p class="text-muted">College : <a href="#fakelink"><%= @user.college.name rescue "None yet" %></a></p>
									<p class="text-muted">Branch : <a href="#fakelink"><%= @user.branch.name rescue "None yet" %></a></p>
									<%if @user == current_user %>
										<p class="right-button">									
											<%= link_to(fa_icon("fa-edit", text: "Change Password") , edit_user_registration_path , :class => "btn btn-warning btn-perspective btn-sm") %>
											<%= link_to(fa_icon("fa-edit", text: "Change Profile Pic") , "http://en.gravatar.com/" , :class => "btn btn-warning btn-perspective btn-sm") %>
										</p>
									<%end%>
								</div><!-- /.profile-info -->
							</div><!-- /.the-box .transparent .profile-heading -->
							<!-- END PROFILE HEADING -->
							
							<div class="panel with-nav-tabs panel-primary panel-square panel-no-border">
								<%if current_page?(profile_main_path) %>
									  <div class="panel-heading">
										<ul class="nav nav-tabs">
												<%= content_tag(:li , link_to(fa_icon("user", text: "Profile"), profile_main_path(:user_id => @user.id) , :data => {:toggle=>""} ), :class=>"active" )%>											
												<%= content_tag(:li , link_to(fa_icon("cloud-upload", text: "Uploads"), profile_uploads_path(:user_id => @user.id) , :data => {:toggle=>""} ), :class=>"" )%>											
										</ul>
									  </div>
									<%= render(:partial => 'shared/profile_main' , :locals => { :user => @user }) %> 
								<%elsif current_page?(profile_uploads_path) %>
									  <div class="panel-heading">
										<ul class="nav nav-tabs">
												<%= content_tag(:li , link_to(fa_icon("user", text: "Profile"), profile_main_path(:user_id => @user.id) , :data => {:toggle=>""} ), :class=>"" )%>											
												<%= content_tag(:li , link_to(fa_icon("cloud-upload", text: "Uploads"), profile_uploads_path(:user_id => @user.id) , :data => {:toggle=>""}), :class=>"active" )%>
										</ul>
									  </div>
									<%= render(:partial => 'shared/profile_uploads' , :locals => { :user => @user , :buckets => @buckets }) %> 
								<%end%>
							</div><!-- /.panel .panel-success -->
							
