<!DOCTYPE html>
<html>
<html lang="en"><head>
	  	<title>Classcolab</title>
	  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  	<%= csrf_meta_tags %>
		<!-- Prelang: Analytics / Google Analytics -->
	    <%= analytics_init if Rails.env.production? or Rails.env.development? %><meta name="viewport" content="width=device-width, initial-scale=1"/>

		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Sentir, Responsive admin and dashboard UI kits template">
		<meta name="keywords" content="admin,bootstrap,template,responsive admin,dashboard template,web apps template">
		<meta name="author" content="Ari Rusmanto, Isoh Design Studio, Warung Themes">
		<title>Welcome - CollegeColab</title>
    	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	   <%= analytics_init if Rails.env.production? or Rails.env.development? %><meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>


<body class="tooltips">
		<div class="wrapper">
			<!-- BEGIN TOP NAV -->
			<div class="top-navbar">
				<div class="top-navbar-inner">
					
					<!-- Begin Logo brand -->
					<div class="logo-brand">
						<h3><a href="#">Class-Colab</a></h3>
					</div><!-- /.logo-brand -->
					<!-- End Logo brand -->
					
					<div class="top-nav-content">
						
						<!-- Begin button sidebar left toggle -->
						<div class="btn-collapse-sidebar-left">
							<i class="fa fa-bars"></i>
						</div><!-- /.btn-collapse-sidebar-left -->

						<ul class="nav navbar-nav navbar-left" >
							<%= render( :partial => 'shared/main_college_search' )%>
						</ul>
						<ul class="nav navbar-nav navbar-left" >		
							<div id="notifications">			
								<%= render(:partial => 'shared/notifications' ) %>
							</div>
						</ul>

						<ul class="nav-user navbar-right">
							<li class="dropdown">
							  <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
								<%= image_tag avatar_url(current_user) , :class => "avatar img-circle"%>
								Hi, <strong><%=current_user.full_name%></strong>
							  </a>
							  <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
								<li><a href="#fakelink">Account setting</a></li>
								<li><%= link_to 'Change Password', edit_user_registration_path %></li>
								<li><a href="#fakelink">Profile</a></li>
								<li class="divider"></li>
								<li><a href="#">Lock screen</a></li>
								<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>. </li>
							  </ul>
							</li>
						</ul>
						<div class="collapse navbar-collapse" id="main-fixed-nav">
						</div><!-- /.navbar-collapse -->
					</div><!-- /.top-nav-content -->
				</div><!-- /.top-navbar-inner -->
			</div><!-- /.top-navbar -->
			
			<!-- BEGIN SIDEBAR LEFT -->
			<div tabindex="5000" style="overflow: hidden;" class="sidebar-left sidebar-nicescroller">
				<ul class="sidebar-menu">
					<%if current_page?(uploads_path) %>
					<%= content_tag(:li , link_to(fa_icon("cloud-upload icon-sidebar", text: "My Uploads"), uploads_path , :data => {:toggle=>""}), :class=>"active" )%>
					<%else%>
					<%= content_tag(:li , link_to(fa_icon("cloud-upload icon-sidebar", text: "My Uploads"), uploads_path , :data => {:toggle=>""}), :class=>"")%>
					<%end%>
					<%if current_page?(downloads_path) %>
					<%= content_tag(:li , link_to(fa_icon("cloud-download icon-sidebar", text: "My Downloads"), downloads_path , :data => {:toggle=>""}), :class=>"active" )%>
					<%else%>
					<%= content_tag(:li , link_to(fa_icon("cloud-download icon-sidebar", text: "My Downloads"), downloads_path , :data => {:toggle=>""}), :class=>"" )%>
					<%end%>
					<%if current_page?(enrolled_courses_path) %>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "My Courses"), enrolled_courses_path , :data => {:toggle=>""}), :class=>"active" )%>
					<%else%>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "My Courses"), enrolled_courses_path , :data => {:toggle=>""}), :class=>"" )%>
					<%end%>
					<%if current_page?(favorite_courses_path) %>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "Favourite Courses"), favorite_courses_path , :data => {:toggle=>""}), :class=>"active" )%>
					<%else%>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "Favourite Courses"), favorite_courses_path , :data => {:toggle=>""}), :class=>"" )%>
					<%end%>
					<%if current_page?(profile_main_path) %>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "Profile"), profile_main_path , :data => {:toggle=>""}), :class=>"active" )%>
					<%else%>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "Profile"), profile_main_path , :data => {:toggle=>""}), :class=>"" )%>
					<%end%>
					
					<%if not current_user.college.nil?%>
						<%if current_page?(my_college_path) %>
						<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "My College"), my_college_path , :data => {:toggle=>""}), :class=>"active" )%>
						<%else%>
						<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "My College"), my_college_path , :data => {:toggle=>""}), :class=>"" )%>
						<%end%>
					<%else%>
						<li>
							<a type="button" data-toggle="modal" data-target="#enroll_college_branch_modal" > 
								<%=fa_icon("book icon-sidebar", text: "Enroll College Branch")%>
							</a>
						</li>
					<%end%>

					<div class="upload-button">
						<button type="button" data-toggle="modal" data-target="#modal_add_bucket_with_course" class="btn btn-success btn-perspective">
							<i class="fa fa-cloud-upload fa-xs"></i>
							Upload
						</button>
					</div>

				</ul>
			</div><!-- /.sidebar-left -->
			

			<div class="modal fade" id="enroll_college_branch_modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
				  <div class="modal-dialog">
					<div class="modal-content modal-no-shadow">
					  <div class="modal-header bg-dark no-border">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title"> Register in College / Branch </h4>
					  </div>
					  <div class="modal-body">
							<%= simple_form_for CollegeBranchPair.new , :url => create_college_branch_enrollment_path , :method => "post" , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>
							  <%= f.input :user_id, :as => :hidden, :input_html => { :value => 1 } %>
							  <%= f.association :college, label_method: :name , :include_blank => false , :input_html => { :class => "chosen-input"} %>
							  <%= f.association :branch, label_method: :name , :include_blank => false , :input_html =>  { :class => "chosen-input"} %>
							  <div class="modal-footer">
								  <div class="text-center">
	   							  	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								  	<%= f.button :submit , "Enroll Me", :class => "btn btn-success"%>
								  </div><!-- /.modal-footer -->
							  </div>
							<% end %>
					  </div>
					</div><!-- /.modal-content .modal-no-shadow -->
				  </div><!-- /.modal-dialog -->
			</div>
			<div class="modal fade" id="modal_add_bucket_with_course" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			     <div class="modal-dialog">
			       <div class="modal-content modal-no-shadow">
			         <div class="modal-header bg-dark no-border">
			           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			           <h4 class="modal-title">Add a Bucket</h4>
			         </div>
			         <div class="modal-body">

						<%= simple_form_for Bucket.new , :url => create_bucket_path, :method => :post , :remote => true , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>

							  <%= f.association :course, collection: current_user.enrolled_courses , prompt: "Choose enrolled course" , :input_html => { :class => "chosen-input"} %>
							  <%= f.input :main_upload, :as => :hidden, :input_html => { :value => true } %> 

							  <%= f.association :category, label_method: :category , :include_blank => false , :input_html => { :class => "chosen-input"}%>
							  <%= f.input :name , :input_html => { :class => ""} %>
							  <%= f.input :description , :input_html => { :class => ""} %>
							  <div class="text-center">
						  		<%= f.button :submit , "Create", :class => "btn btn-success"%>
						  	  </div>
						<% end %>
			         </div>
			       </div><!-- /.modal-content .modal-no-shadow -->
			     </div><!-- /.modal-dialog -->
			</div>
			
			
			<!-- BEGIN PAGE CONTENT -->
			<%= render partial: "shared/flash_messages", flash: flash %>
			<div class="page-content">
				<div class="container-fluid">
					<div class="fixed-main transparent full search-page">
				<div style="position: relative; z-index: 0; background: none repeat scroll 0% 0% transparent;" class="fixed-main no-margin no-border bg-success" id="search-heading">
					<div class="setting_one">
								
					</div>
				
				<%= render(:partial => 'shared/main_search_form' ) %>
				<div class="setting_two">
				</div> 
				

				</div>			
				</div>
										<%= yield %>
			</div>
				<!-- BEGIN FOOTER -->
				<footer class="footer">
					<br>
					© 2015 <a href="#fakelink">CodeArt</a><br>
					Design by <a href="http://isohdesign.com/" target="_blank">CodeArt</a>.
				</footer>
			</div>

</body>
</html>