<!DOCTYPE html>
<html>
<html lang="en"><head>
	  	<title>classcollab</title>
	  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  	<%= csrf_meta_tags %>
		<!-- Prelang: Analytics / Google Analytics -->
	    <%= analytics_init if Rails.env.production? or Rails.env.development? %><meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<title>Welcome - ClassCollab</title>

	    <script src="http://js.pusher.com/2.0/pusher.min.js"></script>

	    <script>

			function subscribe_pusher_channel(channelName) {	  
		        var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
				console.log("about to subscribe to: " + channelName );
		        var channel = pusher.subscribe(channelName);
		        
		        pusher.connection.bind('connecting', function() {
			          console.log("Connecting to Pusher...");
		        });
		        pusher.connection.bind('connected', function() {
			          console.log("Connected to Pusher...");
		        });
		        pusher.connection.bind('failed', function() {
			          console.log("Connection to Pusher failed...");
		        });
		        channel.bind('subscription_error', function(status) {
			          console.log("Pusher subscription_error");
		        });	
			   
			    channel.bind('ready_download', function(data) {
			      console.log("I am called");
			      $.post( "/refresh_download_buckets_notifications");
			    });
		   	}

			function unsubscribe_pusher_channel(channelName) {
				console.log("about to un-subscribe to: " + channelName );
		        var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
			    pusher.unsubscribe(channelName);
    		}

			$(document).on('ready', function() {
				subscribe_pusher_channel('private-<%=Rails.env%>-<%=current_user.id%>');
			});

	    </script>

	    <%= analytics_init if Rails.env.production? or Rails.env.development? %><meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link href="http://allfont.net/css/?fonts=p22-corinthia" rel="stylesheet" type="text/css" />
	    <style type="text/css">
			.text-logo2 {
                   font-family: 'P22 Corinthia', arial;
                    color : #ffffff;
                    text-shadow: 1px 1px 1px #aaa;
                    font-size: 60px;
                    font-weight:lighter;
            }
	    </style>

</head>


<body class="tooltips">
		<div class="wrapper">
			<!-- BEGIN TOP NAV -->
			<div class="top-navbar">
				<div class="top-navbar-inner">
					
					<!-- Begin Logo brand -->
					<div class="logo-brand text-logo2">
						ClassCollab
					</div><!-- /.logo-brand -->
					<!-- End Logo brand -->
					
					<div class="top-nav-content">
						
						<!-- Begin button sidebar left toggle -->
						<!--<div class="btn-collapse-sidebar-left">
							<i class="fa fa-bars"></i>
						</div><!-- /.btn-collapse-sidebar-left -->

						<ul class="nav navbar-nav navbar-left" >
							<%= render( :partial => 'shared/main_college_search' )%>
						</ul>
						<ul class="nav navbar-nav navbar-left" >		
							<div id="notifications">			
								<%= render(:partial => 'shared/notifications' ) %>
							</div>
						</ul>

						<ul class="nav-user navbar-right">
							<li class="dropdown">
							  <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
								<%= image_tag avatar_url(current_user) , :class => "avatar img-circle"%>
								Hi, <strong><%=current_user.full_name%></strong>
							  </a>
							  <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
								<li>
									<a style="cursor:pointer" data-toggle="modal" data-target="#edit_passowrd">
										Change Password
									</a>
								</li>
								<li>
									<%= link_to("Profile" , profile_main_path) %>	
								</li>
								<li class="divider"></li>
								<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
							  </ul>
							</li>
						</ul>
						<div class="collapse navbar-collapse" id="main-fixed-nav">
						</div><!-- /.navbar-collapse -->
					</div><!-- /.top-nav-content -->
				</div><!-- /.top-navbar-inner -->
			</div><!-- /.top-navbar -->
			
			<!-- BEGIN SIDEBAR LEFT -->
			<div tabindex="5000" style="overflow: hidden;" class="sidebar-left sidebar-nicescroller">
				<ul class="sidebar-menu">

					<br>
					<div class="static left-profile-summary">
						<div class="media" >
						  <!--<p class="pull-left">-->
							<%= link_to( (image_tag avatar_url(current_user) , :class => "avatar img-circle" , :style =>"width:60px ; height:60px;margin-left:35%") , profile_main_path )%>
						  <!--</p>-->
						  <div class="media-body" style="margin-left:25%">
							<h4><%= current_user.first_name%>&nbsp<%= current_user.last_name %></h4>
							
							
						  </div>
						</div>
					</div>
					<br>
					<%if current_page?(uploads_path) %>
					<%= content_tag(:li , link_to(fa_icon("cloud-upload icon-sidebar", text: "My Uploads"), uploads_path , :data => {:toggle=>""}), :class=>"active" )%>
					<%else%>
					<%= content_tag(:li , link_to(fa_icon("cloud-upload icon-sidebar", text: "My Uploads"), uploads_path , :data => {:toggle=>""}), :class=>"")%>
					<%end%>
					<%if current_page?(downloads_path) %>
					<%= content_tag(:li , link_to(fa_icon("cloud-download icon-sidebar", text: "My Downloads"), downloads_path , :data => {:toggle=>""}), :class=>"active" )%>
					<%else%>
					<%= content_tag(:li , link_to(fa_icon("cloud-download icon-sidebar", text: "My Downloads"), downloads_path , :data => {:toggle=>""}), :class=>"" )%>
					<%end%>
					<%if current_page?(enrolled_courses_path) %>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "Enrolled Courses"), enrolled_courses_path , :data => {:toggle=>""}), :class=>"active" )%>
					<%else%>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "Enrolled Courses"), enrolled_courses_path , :data => {:toggle=>""}), :class=>"" )%>
					<%end%>
					<%if current_page?(favorite_courses_path) %>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "Favourite Courses"), favorite_courses_path , :data => {:toggle=>""}), :class=>"active" )%>
					<%else%>
					<%= content_tag(:li , link_to(fa_icon("book icon-sidebar", text: "Favourite Courses"), favorite_courses_path , :data => {:toggle=>""}), :class=>"" )%>
					<%end%>
					<%if not current_user.college.nil?%>
						<%if current_page?(college_content_path(current_user.college) ) %>
						<%= content_tag(:li , link_to(fa_icon("graduation-cap", text: "My College"), my_college_path , :data => {:toggle=>""}), :class=>"active" )%>
						<%else%>
						<%= content_tag(:li , link_to(fa_icon("graduation-cap", text: "My College"), my_college_path , :data => {:toggle=>""}), :class=>"" )%>
						<%end%>
					<%else%>
						<li>
							<a type="button" data-toggle="modal" data-target="#enroll_college_branch_modal" style="cursor:pointer"> 
								<%=fa_icon("book icon-sidebar", text: "Enroll College Branch")%>
							</a>
						</li>
					<%end%>

					<div class="upload-button" data-toggle="tooltip" title = "Create New Bucket" >
						<button type="button" data-toggle="modal" data-target="#modal_add_bucket_with_course" class="btn btn-success btn-perspective">
							<i class="fa fa-cloud-upload fa-xs"></i>
							Upload
						</button>
					</div>

					<div class="progress-circle" >
 					<div class="outer">
   					<div class="half spinner"></div>
    					<div class="half filler"></div>
    					<div class="mask"></div>
  						</div>
  					<div class="inner"></div>
 					<div class="shadow"></div>
  					<div class="percentage">0%</div>
					</div>
					<div class="know" style="text-align:center">
						Activity Quotient
					</div>

				</ul>
			</div><!-- /.sidebar-left -->
			

			<div class="modal fade" id="enroll_college_branch_modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
				  <div class="modal-dialog">
					<div class="modal-content modal-no-shadow">
					  <div class="modal-header bg-dark no-border">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title"> Enroll in College / Branch </h4>
					  </div>
					  <div class="modal-body">
							<%= simple_form_for CollegeBranchPair.new , :url => create_college_branch_enrollment_path , :method => "post" , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>
							  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

							  <%= hidden_field_tag("enroll_college_autocomplete_id", "", :id => "enroll_college_autocomplete_id") %>
							  <%= hidden_field_tag("enroll_branch_autocomplete_id" , "", :id => "enroll_branch_autocomplete_id") %>
							  
							  <%= text_field_tag :college_name , nil , :id => "enroll_college_autocomplete" , :class => "form-control" , :placeholder => "Search College"  %>
							  <br>
							  <%= text_field_tag :branch_name , nil , :id => "enroll_branch_autocomplete" , :class => "form-control" , :placeholder => "Search Branch"  %>
							  <br>
							  <div class="modal-footer">
								  <div class="text-center">
	   							  	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								  	<%= f.button :submit , "Enroll Me", :class => "btn btn-primary" , data: { confirm: "Are you sure you want to enroll in this college/branch and access private data shared? You will not be able to unenroll for next 6 months." } %>
								  </div><!-- /.modal-footer -->
							  </div>
							<% end %>
					  </div>
					</div><!-- /.modal-content .modal-no-shadow -->
				  </div><!-- /.modal-dialog -->
			</div>
			<div class="modal fade" id="modal_add_bucket_with_course" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			     <div class="modal-dialog">
			       <div class="modal-content modal-no-shadow">
			         <div class="modal-header bg-dark no-border">
			           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			           <h4 class="modal-title">Add a Bucket</h4>
			         </div>
			         <div class="modal-body">

						<%= simple_form_for Bucket.new , :url => create_bucket_path, :method => :post , :remote => true , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>

							  <%= f.association :course, collection: current_user.enrolled_courses , prompt: "Choose enrolled course" , :input_html => { :class => "chosen-input" } %>
							  <%= f.input :main_upload, :as => :hidden, :input_html => { :value => true } %> 
							  <%= f.input :privately_shared , as: :radio_buttons %> 
							  <%= f.association :category, label_method: :category , :include_blank => false , :input_html => { :class => "chosen-input" }%>
							  <%= f.input :name , :input_html => { :class => "" ,  :required => true} %>
							  <%= f.input :description , :input_html => { :class => "" ,  :required => true } %>
							  <div class="text-center">
						  		<%= f.button :submit , "Create", :class => "btn btn-primary"%>
						  	  </div>
						<% end %>
			         </div>
			       </div><!-- /.modal-content .modal-no-shadow -->
			     </div><!-- /.modal-dialog -->
			</div>
			

			<div class="modal fade" id="suggest" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			     <div class="modal-dialog">
			       <div class="modal-content modal-no-shadow">
			         <div class="modal-header bg-dark no-border">
			           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			           <h4 class="modal-title">Suggest College / Branch / Course</h4>
			         </div>
			         <div class="modal-body">
			                <%= simple_form_for Suggestion.new , :url => suggestion_path( current_user.id ) , :method => :post , :remote => true , :input_html=> { :class => "form-group has-feedback lg no-label "} do |f| %>

			                  <%= f.input :college_name %>
			                  <%= f.input :branch_name %>
			                  <%= f.input :course_name %>
			                  <%= f.input :message, :hint => "Any more suggestions..?" %>

			                  <div class="modal-footer">
			                     <div class="text-center">
			                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			                       <%= f.button :submit , "Submit", :class => "btn btn-primary" %>
			                     </div>
			                  </div>
			                <% end %>
			         </div>
			       </div><!-- /.modal-content .modal-no-shadow -->
			     </div><!-- /.modal-dialog -->
			</div>


<!--  -->
			<div class="modal fade" id="edit_passowrd" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			     <div class="modal-dialog">
			       <div class="modal-content modal-no-shadow">
			         <div class="modal-header bg-dark no-border">
			           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			           <h4 class="modal-title">Change Password</h4>
			         </div>
			         <div class="modal-body">


						<%= simple_form_for(current_user , url: ajax_change_password_path ,  :method => :put , :remote => true ) do |f| %>

						  <div class="form-inputs">
						    <%= f.input :password, autocomplete: "off", required: true %>
						    <%= f.input :password_confirmation, required: true %>
						    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
						  </div>

						  <div class="form-actions">
						    <%= f.button :submit, "Update" %>
						  </div>
						<% end %>

			         </div>
			       </div><!-- /.modal-content .modal-no-shadow -->
			     </div><!-- /.modal-dialog -->
			</div>
<!--  -->

			
			<!-- BEGIN PAGE CONTENT -->
			<div class="page-content">
				<%= render partial: "shared/flash_messages", flash: flash %>
				<div class="container-fluid">
					<div class="fixed-main transparent full search-page">
				<div style="position: relative; z-index: 0; background: none repeat scroll 0% 0% transparent;" class="fixed-main no-margin no-border bg-success" id="search-heading">
					<div class="setting_one">
								
					</div>
				
				<%= render(:partial => 'shared/main_search_form' ) %>
				<div class="setting_two">
				</div> 
				

				</div>			
				</div>
										<%= yield %>
			</div>
				<!-- BEGIN FOOTER -->
				<footer class="footer">
					<br>
					© 2015 <a href="http://classcollab.com/">CodeArt</a><br>
					Design by <a href="http://classcollab.com/" target="_blank">CodeArt</a>.
				</footer>

				<!-- tour guide starts -->

				<div id="sign_in_count" style="display:none">
					<%= current_user.sign_in_count%>
				</div>

				<%if( (current_user.sign_in_count <= 1 ) && ( current_page?("/") ) )%>

					<div style="top: 0px; left: 300px; display: block;" id="step-2" class="popover tour-tour tour-tour-2 fade bottom in">
					<div class="arrow" style="left: 40%"></div> 
						 <h3 class="popover-title">
						 	Search college
						 </h3> 
						 <div class="popover-content">
						 	You can search and visit any college using this search box. Just type the name , select and click enter.
						 </div>
						 <div class="popover-navigation"> 
						 	<div class="btn-group"> 
						  		<button class="btn btn-sm btn-default" id="prev-2">
						  			 Prev
						 		</button> 
						 		<button class="btn btn-sm btn-default" id = "next-2">	
						  			Next 
						  		</button>  
						  	</div> 
						  	<button class="btn btn-sm btn-default" id = "end_tour-2">
						  		End tour
						  	</button> 
						  </div> 
					</div>

					<div style="top: -10px; left: 475px; display: block;" id="step-3" class="popover tour-tour tour-tour-3 fade bottom in">
						 <div class="arrow" style="left: 50%"></div> 
						 <h3 class="popover-title">
						 	Notifications
						 </h3> 
						 <div class="popover-content">
						 	This is notifications panel. It gives the notifications about ready downloads , pending downloads and general notifications. 
						 </div>
						 <div class="popover-navigation"> 
						  	<div class="btn-group"> 
						  		<button class="btn btn-sm btn-default" id="prev-3">
						  			 Prev
						 		</button> 
						 		<button class="btn btn-sm btn-default" id = "next-3">	
						  			Next 
						  		</button>  
						  	</div> 
						  	<button class="btn btn-sm btn-default" id = "end_tour-3">
						  		End tour
						  	</button> 
						  </div> 
					</div>

					<div style="top: 0px; left: 1000px; display: block;" id="step-4" class="popover tour-tour tour-tour-4 fade bottom in">
						<div class="arrow" style="left:75%"></div> 
						 <h3 class="popover-title">
						 	Settings Menu
						 </h3> 
						 <div class="popover-content">
						 	This is your profile icon.You can change change password visit your own public profile using the dropdown menu given here.
						 </div>
						 <div class="popover-navigation"> 
						 	<div class="btn-group"> 
						  		<button class="btn btn-sm btn-default" data-role="prev" id = "prev-4">
						  			 Prev
						 		</button> 
						 		<button class="btn btn-sm btn-default" id = "next-4">	
						  			Next 
						  		</button>  
						  	</div> 
						  	<button class="btn btn-sm btn-default" id = "end_tour-4">
						  		End tour
						  	</button> 
						  </div> 
					</div>
						
					<div id="step-6" class="popover tour-tour tour-tour-6 fade right in" style="top: 350px; left: 175px; display: block;">
						    <div class="arrow" ></div>
							    <h3 class="popover-title">
								    Create Empty Buckets
						    	</h3>
							<div class="popover-content">
								You can create your Buckets in the courses that you have enrolled in. And then upload folders and documents within.
							</div>
							<div class="popover-navigation">
								<div class="btn-group">
						        	<button class="btn btn-sm btn-default" id = "prev-6">
						                 Prev
						      	</button>
						        <button class="btn btn-sm btn-default" id="next-6">
							        Next 
						        </button>
						        </div>
						        <button class="btn btn-sm btn-default" id="end_tour-6">
							        End tour
							    </button>
						    </div>
					</div>

					<div id="step-5" class="popover tour-tour tour-tour-5 fade right in" style="top: 30px; left: 155px; display: block;">
						    <div class="arrow" ></div>
							    <h3 class="popover-title">
								    View profile
						    	</h3>
							<div class="popover-content">
								View your own profile by clicking on your profile picture.
							</div>
							<div class="popover-navigation">
								<div class="btn-group">
						        	<button class="btn btn-sm btn-default" id="prev-5">
						                 Prev
						      	</button>
						        <button class="btn btn-sm btn-default" id="next-5">
							        Next 
						        </button>
						        </div>
						        <button class="btn btn-sm btn-default" id="end_tour-5">
							        End tour
							    </button>
						    </div>
					</div>

					<div id="step-7" class="popover tour-tour tour-tour-7 fade right in" style="top: 235px; left: 220px; display: block;">
						    <div class="arrow" ></div>
							    <h3 class="popover-title">
								    Enroll/Visit your college
						    	</h3>
							<div class="popover-content">
								When You are not enrolled you can enroll in using this button to a specific college and branch. After enrollment this button will lead you to your college page. Note : You must enroll in college and branch to access its privately shared data and you can upload buckets only in your own College and Branch.
							</div>
							<div class="popover-navigation">
								<div class="btn-group">
						        	<button class="btn btn-sm btn-default" id="prev-7">
						                 Prev
						      	</button>
						        <button class="btn btn-sm btn-default" id="next-7">
							        Next 
						        </button>
						        </div>
						        <button class="btn btn-sm btn-default" id="end_tour-7">
							        End tour
							    </button>
						    </div>
					</div>

					<div style="top: 107px; left: 1077px; display: block;" id="step-8" class="popover tour-tour tour-tour-8 fade bottom in">
						 <div class="arrow"></div> 
						 <h3 class="popover-title">
						 	Search buckets
						 </h3> 
						 <div class="popover-content">
						 	You can search buckets according to keywords and filter them by college , branch and course.
						 </div>
						 <div class="popover-navigation"> 
						 	<div class="btn-group"> 
						  		<button class="btn btn-sm btn-default" id="prev-8">
						  			 Prev
						 		</button> 
						 		<button class="btn btn-sm btn-default" id="next-8">	
						  			Next 
						  		</button>  
						  	</div> 
						  	<button class="btn btn-sm btn-default" id = "end_tour-8">
						  		End tour
						  	</button> 
						  </div> 
					</div>


					<div style="top: 50px; left: 280px; display: block;" id="step-9" class="popover tour-tour tour-tour-9 fade top in">
					<div class="arrow" style="left:30%"></div> 
						 <h3 class="popover-title">
						 	View downloads
						 </h3> 
						 <div class="popover-content">
						 	You can view buckets downloaded by you on this tab. Same option is also given in the side panel.
						 </div>
						 <div class="popover-navigation"> 
						 	<div class="btn-group"> 
						  		<button class="btn btn-sm btn-default" id="prev-9">
						  			 Prev
						 		</button> 
						 		<button class="btn btn-sm btn-default" id="next-9">	
						  			Next 
						  		</button>  
						  	</div> 
						  	<button class="btn btn-sm btn-default" id = "end_tour-9">
						  		End tour
						  	</button> 
						  </div> 
					</div>
						

					<div style="top: 50px; left: 395px; display: block;" id="step-10" class="popover tour-tour tour-tour-10 fade top in">
					<div class="arrow" style="left:30%"></div> 
						 <h3 class="popover-title">
						 	View Uploads
						 </h3> 
						 <div class="popover-content">
						 	You can view buckets uploaded by you on this tab. Same option is also given in the side panel.
						 </div>
						 <div class="popover-navigation"> 
						 	<div class="btn-group"> 
						  		<button class="btn btn-sm btn-default" id="prev-10">
						  			 Prev
						 		</button> 
						 		<button class="btn btn-sm btn-default" id="next-10">	
						  			Next 
						  		</button>  
						  	</div> 
						  	<button class="btn btn-sm btn-default" id = "end_tour-10">
						  		End tour
						  	</button> 
						  </div> 
					</div>

					<div style="top: 50px; left: 530px; display: block;" id="step-11" class="popover tour-tour tour-tour-11 fade top in">
					<div class="arrow" style="left:30%"></div> 
						 <h3 class="popover-title">
						 	View Courses
						 </h3> 
						 <div class="popover-content">
						 	You can view the courses enrolled by you on this tab. Same option is also given in the side panel. Enrolling in course is mandatory for uploading buckets within it. You can only enroll the courses of your own college branch pair (enrolled ones).
						 </div>
						 <div class="popover-navigation"> 
						 	<div class="btn-group"> 
						  		<button class="btn btn-sm btn-default" id="prev-11">
						  			 Prev
						 		</button> 
						 		<button class="btn btn-sm btn-default" id="next-11">	
						  			Next 
						  		</button>  
						  	</div> 
						  	<button class="btn btn-sm btn-default" id = "end_tour-11">
						  		End tour
						  	</button> 
						  </div> 
					</div>
						
					<div style="top: 32.5px; left: 650px; display: block;" id="step-12" class="popover tour-tour tour-tour-12 fade top in">
					<div class="arrow" style="left:30%"></div> 
						 <h3 class="popover-title">
						 	View Favourite Courses
						 </h3> 
						 <div class="popover-content">
						 	You can view the courses tagged as favourite by you. Unlike enrolling course , you can favorite any course from any college and any branch.
						 </div>
						 <div class="popover-navigation"> 
						 	<div class="btn-group"> 
						  		<button class="btn btn-sm btn-default" id="prev-12">
						  			 Prev
						 		</button> 
						 		<button class="btn btn-sm btn-default disabled" >	
						  			Next 
						  		</button>  
						  	</div> 
						  	<button class="btn btn-sm btn-default" id = "end_tour-12">
						  		End tour
						  	</button> 
						  </div> 
					</div>

				<%end%>
				<!-- tour guide ends -->

			</div>
<script>

  $('#modal_add_bucket_with_course').on('shown.bs.modal', function() {
    $("#modal_add_bucket_with_course form").validate({
          rules: {
            'bucket[name]': "required",
            'bucket[course]': "required",
            'bucket[description]': "required",
            'bucket[category]': "required"
          },
          messages: {
            'bucket[name]': "Please non-empty bucket name",
            'bucket[description]': "Please add some description...",
            'bucket[course]': "Please select a course",
            'bucket[category]': "Please select a category, bucket would belong to."
          }
    });
  });

  $('#enroll_college_branch_modal').on('shown.bs.modal', function() {
    $("#enroll_college_branch_modal form").validate({
          rules: {
            'college_name': "required",
            'branch_name': "required"
          },
          messages: {
            'college_name': "Please add non-empty college name",
            'branch_name': "Please add non-empty branch name"
          }
    });
  });

  $('#edit_passowrd').on('shown.bs.modal', function() {
    $("#edit_passowrd form").validate({
          rules: {
            'user[current_password]': "required",
			'user[password]' : {
                    minlength : 8
                },
            'user[password_confirmation]' : {
                    minlength : 8,
                    equalTo : "#user_password"
            }
          },
          messages: {
            'user[current_password]': "Please enter non empty current_password",
            'user[password]': "Please enter password of size greater than 8",
            'user[password_confirmation]': "password and confirmation must match"
          }
    });
  });


</script>


</body>
<script>
setProgress("<%= current_user.activity_quotient %>");
</script>



<script>
 $(function() {
  
    // Setup form validation on the #register-form element
    $("#new_news_letter").validate({
    
        // Specify the validation rules
        rules: {
            'news_letter[user_name]': {
                required: true
            },
            'news_letter[email]': {
                required: true,
                email: true
            }
        },
        
        // Specify the validation error messages
        messages: {
        	'news_letter[user_name]': "Please enter valid non-empty name",
            'news_letter[email]': "Please enter a valid email address"
        },
        
        submitHandler: function(form) {
            form.submit();
        }
    });

  });  
</script>



</html>