<!DOCTYPE html>
<html>
<head>
  <title>classcollab</title>
  <%= csrf_meta_tags %>
   <%= analytics_init if Rails.env.production? or Rails.env.development? %><meta name="viewport" content="width=device-width, initial-scale=1"/>

    
    
    <%= stylesheet_link_tag    'landings', media: 'all' %>
    <%= javascript_include_tag 'landings', media: 'all'  %>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="icon" href="http://www.themedept.com/demo/smartmvp/assets/images/favicon/favicon.ico">

</head>


<body data-offset="11" data-target=".navbar-fixed-top" data-spy="scroll">
    <div class="main-wrapper">

        <div style="display: none;" class="preloader">
            <div class="loader-container">
                <div >classcollab</div>
                <div style="display: none;" class="signal"></div>
            </div>
        </div> 
        
        <header style="background-position: 50% 0px;" class="header fast-reg-img" id="top" data-stellar-background-ratio="0.5">
            <!-- Background Overlay -->
            <div class="overlay">

                <!-- =========================================
                     Navigation
                ========================================== -->
                <nav class="navbar navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Navbar-Header -->
                                <div class="navbar-header">
                                    
                                    <!-- Mobile Menu -->
                                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                        <i class="icon icon_menu"></i>
                                    </button>

                                    <!-- Text-Logo -->
                                    <a href="#" class="navbar-brand scrollto" title="ClassCollab" class="text-logo2">
                                        <span class="text-logo2">ClassCollab</span>
                                    </a> 

                                </div><!-- /End Navbar-Header -->

                                <!-- Navbar-Collapse -->
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <!-- Menu Items -->
                                        <li><a href="#about" title="" class="scrollto">About</a></li>
                                        <li><a href="#features" title="" class="scrollto">Features</a></li>
                                        <li><a href="#faq" title="" class="scrollto">FAQ</a></li>                                        
                                        <!-- Login and Signup Modal on click -->
                                        <li><%= link_to('Login', new_user_session_path)  %></li>
                                        <li><%= link_to('SignUp', new_user_registration_path) %>
                                        </li>
                                    </ul>
                                </div><!-- /End Navbar-Collapse -->
                              <%= render partial: "shared/flash_messages", flash: flash %>
                            </div><!-- /End Col -->
                        </div><!-- /End Row -->
                    </div><!-- /End Container -->
                </nav><!-- /End Sticky Navigation -->


                
                <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container vmiddle fast-reg">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-section">
                                
                                <!-- Welcome - Hero Message -->
                                <h1 class="text-white">ClassCollab <br> Reinventing Your Acadamic World</h1>
                                <p class="text-white">Your academia, anywhere, anytime.</p>
                                
                                <div class="col-md-10 col-md-offset-3">
                                    <div style="float:left ; margin-right:40px ;color:#ffffff">
                                    <div class="counter" data-count="10">0</div>
                                    Colleges
                                    </div>
                                    <div style="float:left ; margin-right:40px ;color:#ffffff">
                                    <div class="counter" data-count="42">15</div>
                                    Branches
                                    </div>
                                    <div style="float:left ; margin-right:40px ;color:#ffffff">
                                    <div class="counter" data-count="320">120</div> <!-- /End Fast-Reg -->
                                    Courses
                                    </div>
                                    <div style="float:left ; margin-right:40px ;color:#ffffff">
                                    <div class="counter" data-count="1214">300</div> <!-- /End Fast-Reg -->
                                    Collabers
                                    </div>
                                </div><!-- /End Col -->
                            </div><!-- /End Intro-Section -->

                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->

        
        <!-- =================================
             SECTION ABOUT - INTRO FEATURES
        ====================================== -->
        <section class="intro-features" id="about">
            <div class="container">
                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <div class="col-xs-12">
                            <h2>It's about uniting world of education</h2>
                            <p class="large">Spend less time in searching about the relevant documents and give more time to read them</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="fa fa-share-alt"></i>
                            </div>
                            <h4>Everthing shared</h4>
                            <p>When it comes to studying, there is nothing more easy. ClassCollab gives you a new way of sharing experience.</p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="fa fa-users"></i>
                            </div>
                            <h4>New way of Collaboration</h4>
                            <p>Collaboration of difference classes, which makes you experience limitless, all on the tips of your fingers.</p>  
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="fa fa-globe"></i>
                            </div>
                            <h4>Boundaries Redefined </h4>
                            <p>The needed resources from different classrooms across different colleges along with the resources of your own college are made accessible anytime, anywhere.</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END INTRO FEATURES
        ============================== -->
        
        
        <!-- ==================================================
             SECTION 2 COLS - IMAGE RIGHT AND TEXT WITH CALL TO ACTION
        ======================================================= -->
        <!-- =============================
             /END CHARTS SECTION 
        ============================== -->
        
        
        <!-- ==================================================
            FEATURES SECTION
        ======================================================= -->
       
        <section id="features" class="features" style="background-color:rgba(50,56,69,0.95); color:#ffffff ; padding:40px">
      <div class="container">
        <div class="row">
        
          <div style="visibility: visible; animation-duration: 500ms; animation-name: bounceInDown;" class="sec-title text-center mb50 wow bounceInDown animated animated" data-wow-duration="500ms">
            <h2 style="color:#ffffff">Features</h2>
            <div class="devider"><br><hr style="width:30%"></div>
          </div>
          
          <br>
          <!-- service item -->
          <!--<div style="visibility: visible; animation-duration: 500ms; animation-name: fadeInLeft;" class="col-md-4 wow fadeInLeft animated" data-wow-duration="500ms">
            <div class="service-item">
              <div class="service-icon">
                <i class="fa fa-github fa-2x"></i>
              </div>
              
              <div class="service-desc">
                <h3 style="color:#ffffff">Branding</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
              </div>
            </div>
          </div>-->
          <!-- end service item -->
          
          <!-- service item -->
          <!--<div style="visibility: visible; animation-duration: 500ms; animation-delay: 500ms; animation-name: fadeInUp;" class="col-md-4 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="500ms">
            <div class="service-item">
              <div class="service-icon">
                <i class="fa fa-pencil fa-2x"></i>
              </div>
              
              <div class="service-desc">
                <h3 style="color:#ffffff">Development</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
              </div>
            </div>
          </div>-->
          <!-- end service item -->
          <div class="row">
          <!-- service item -->
          <div style="visibility: visible; animation-duration: 500ms;  animation-name: fadeInRight;" class="col-md-6 wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="service-item">
              <div class="service-icon">
                <i class="fa fa-cloud fa-2x"></i>
              </div>
              
              <div class="service-desc">
                <h3 style="color:#ffffff">Cloud with SECURITY and PRIVACY</h3>
                <p>Never fear of loosing your important notes or lectures, we have all of it secured in our cloud storage.We provide cloud storage which delivers optimised, flexible storage solutions. This feature gives complete and limitless access to the always in need resources that too with the desired PRIVACY. Our unique PUBLIC and PRIVATE sharing feature gives you the facility that you always wish for, it gives you the ability to reguate the visibilty of any file or folder to the selected audience.</p>
              </div>
            </div>
          </div>
          <!-- end service item -->
            <div style="visibility: visible; animation-duration: 500ms; animation-name: fadeInLeft;animation-delay: 900ms;" class="col-md-6 wow fadeInRight animated" data-wow-duration="1000ms">
            <div class="service-item">
              <div class="service-icon">
                <i class="fa fa-bolt fa-2x"></i>
              </div>
              
              <div class="service-desc">
                <h3 style="color:#ffffff">GET just what you NEED</h3>
                <p>Exam papers, Peer Notes, Lecture slides Books whatever it is, now there is no need to spend your valuable time searching them in a pile, find it all, just a few clicks away. Our filtering of files based on wide range of categories makes the searching experiece smeamless. Means you can easily sort on the basis of the category you need, giving you only what you really need.</p>
              </div>
            </div>
          </div>
          </div>
          <br><br><br>
          <div class = "row">
          <div style="visibility: visible; animation-duration: 500ms; animation-delay: 500ms; animation-name: fadeInRight;" class="col-md-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="500ms">
            <div class="service-item">
              <div class="service-icon">
                <i class="fa fa-comment-o fa-2x"></i>
              </div>
              
              <div class="service-desc">
                <h3 style="color:#ffffff">Discussion Forums</h3>
                <p>No need to wait, to hear from professor for getting your doubts solved nor you will have to search someone with a torch light in your hand to get your queries answered.Now get all your queries answered, doubts solved in a forum designed just to cater this need. A unique design, a forum for discussion, where you can ask queries in the form of comments and also reply to those comments. </p>
              </div>
            </div>
          </div>
          <div style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInRight;" class="col-md-6 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="service-item">
              <div class="service-icon">
                <i class="fa fa-users fa-2x"></i>
              </div>
              
              <div class="service-desc">
                <h3 style="color:#ffffff">COLLABORATION</h3>
                <p>Its not just about your class, its the collabortion of the classes, sharing of never ending resources from different colleges. So that you can always have something that can fit in your need perfectly. Come out and Collaborate, it's one world , one class.  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
        <!-- =============================
             /END FEATURES TAB
        ============================== -->
        
        
        <!-- ==================================================
            SIGNUP DIVIDER
        ======================================================= -->
        <!-- =============================
             /END PRICING SECTION 
        ============================== -->


        <!-- =======================================================
             TESTIMONIALS WITH PRESS/CLIENTS LOGOS
        ============================================================ -->
        <!-- =============================
             /END TESTIMONIALS
        ============================== -->
        

        <!-- ==================================================
            TEAM
        ======================================================= -->
        
            
        <!-- ==================================================
            MOBILE DOWNLOAD SECTION
        ======================================================= -->
                        <div class="col-md-6">
                                      
                            <!-- =========================
                                LOCAL SUBSCRIPTION FORM 
                            ============================== -->
                            <!-- ALTERNATE USE: SAVE YOUR SUBSCRIBE LIST IN .TXT

                            <form id="subscribe" role="form">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Get the Newsletter</h5>
                                        </div>
                                    </div>
                                    <div class="table-cell">
                                        <div class="input-group">
                                            <input type="email" id="s-email" name="email" placeholder="Your email address" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-color">Submit</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <p class="subscription-success"><i class="icon icon_check_alt2"></i> You are successfully subscribed for our newsletter.</p>
                                    <p class="subscription-failed"><i class="icon icon_close_alt2"></i> Something went wrong!</p>
                                </div>
                            </form>
                            -->

                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END NEWSLETTER SECTION 
        ============================== -->
                <section id="faq" class="faq">

         <div class="container" >
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Frequently Asked Questions</h2>
                            <p class="large">Here is the list of FAQs for our website</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Team Box -->
                                             
                   
                    <div class="content" style="font-size:14px">
                    <div>
                      <input type="checkbox" id="question1" name="q"  class="questions">
                      <div class="plus">+</div>
                      <label for="question1" class="question">
                        What is ClassCollab?
                      </label>
                      <div class="answers">
                      ClassCollab is a webportal where students of different colleges can share,manage and collaborate their resources of their academia. The resources are stored on a cloud storage which gives our users limitless access any time.
                      </div>
                    </div>

                    <div>
                          <input type="checkbox" id="question2" name="q" class="questions">
                          <div class="plus">+</div>
                          <label for="question2" class="question">
                                How can I access all features of classcollab?
                          </label>
                          <div class="answers">
                            You need to create your account by signing up with your email id or Facebook account. If you are logged in and have not enrolled in any college you can access resources which is shared between inter-colleges publicly, and if you have enrolled in your college you can access private resources shared by students of your college which  are not accessible by those who are not enrolled in the college.                       
                          </div>
                    </div>
                      
                    <div>
                          <input type="checkbox" id="question3" name="q" class="questions">
                          <div class="plus">+</div>
                          <label for="question3" class="question">
                            What content can I download from ClassCollab?
                          </label>
                          <div class="answers">
                            If you are enrolled in your college you can download private resources uploaded by the  students of your college and public resources shared between intercolleges but if you are not enrolled in your college then you can download only public resources shared between intercolleges. 
                          </div>
                    </div>

                     <div>
                          <input type="checkbox" id="question4" name="q" class="questions">
                          <div class="plus">+</div>
                          <label for="question4" class="question">
                            How can I upload my study materials on ClassCollab?
                          </label>
                          <div class="answers">
                            You can upload only in the registered college and for uploading you have to enrol in a course of your college in which you wish upload.
                          </div>
                    </div>
                     <div>
                          <input type="checkbox" id="question5" name="q" class="questions">
                          <div class="plus">+</div>
                          <label for="question5" class="question">
                            What if I want to leave the registered college?
                          </label>
                          <div class="answers">
                            Once you have enrolled in any college you cannot unenroll from your registered college till 6 months. So it is advised to enroll in college in which you are studying so that you can also access the private resources shared in your college. 
                          </div>
                    </div>

                     <div>
                        <input type="checkbox" id="question6" name="q" class="questions">
                        <div class="plus">+</div>
                        <label for="question6" class="question">
                          What if my college is not available in ClassCollab?
                        </label>
                        <div class="answers">
                          If your college is not available on ClassCollab, you can request us for the having your college in the list. We will put your college in ClassCollab.
                        </div>
                    </div>

                     <div>
                        <input type="checkbox" id="question7" name="q" class="questions">
                        <div class="plus">+</div>
                        <label for="question7" class="question">
                          How can I make the best use of ClassCollab?
                        </label>
                        <div class="answers">
                          ClassCollab is made to be used by you and your peers, so we suggest to make the best use of it for your advantage. You can get the best out of ClassCollab, by using our unique feature of categorywise searching which makes finding things easier, find exactly what you need. Further we advise you to report the irrelevant and redundant data so that we can make your experience beautiful. We also suggest you to comment and discuss your problems views about the topics.
                        </div>
                    </div>

                        </div>
                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!--/End Container -->

        
        <!-- ==================================================
            FOOTER
        ======================================================= -->
       <footer class="footer dark-bg" id="footer">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="text-white">Get in touch!</h5>
                            <p class="form-text">Want to support or just
 want to say hi? It's all good, we'd love to connect with you. </p>
                            <%= render partial: "shared/newsletter_form" %>
                        </div>
                        

                        <div class="col-md-4 footer-right">
                            
                            <h5 class="text-white">Our Contact</h5>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="contact-content">
                                    <a href="mailto:classcollab@gmail.com">classcollab.sen@gmail.com</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="fa fa-location-arrow"></i>
                                </div>
                                <div class="contact-content">
                                     DA-IICT,Near Indroda Circle<br>
                                     Gandhinagar 382007 Gujarat, India
                                </div>
                            </div>
                            
                        </div>

                    </div><!-- End Row -->

                    <!-- Footer Menu and Copy -->
                    <div class="row">
                        <div class="col-md-12">

                            <p class="footer-copy">© 2015 - Class-Collab. </p>
                        </div>
                    </div><!-- End Row -->
                


                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </footer>    </div><!-- /End Main Wrapper -->
    


</body>

</html>

